<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394370264308-onucspa3vhpujjm1l2lm0n8pgllqs6ia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394370264308-onucspa3vhpujjm1l2lm0n8pgllqs6ia</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>394370264308-a6lnckpgd2cmm22ot9jvh0knk7fqb200.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBT7m4Bc20Ax3PLKXe0Di9T7rc7qrObk_4</string>
	<key>GCM_SENDER_ID</key>
	<string>394370264308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newPortoSpace</string>
	<key>PROJECT_ID</key>
	<string>porto-space-app</string>
	<key>STORAGE_BUCKET</key>
	<string>porto-space-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394370264308:ios:b08405600690d2103cc2a1</string>
</dict>
</plist>